{% include '@rms/partials/header.html.twig' %}
<div class="status-block container">{{ page.status }}</div>
<div id="main-content">
  {{ page.content }}
</div>
{% include '@rms/partials/footer.html.twig' %}
