<h1>
  {{ node.label }}
</h1>
<img class="headline-separator" src="/themes/tahoe/_assets/images/headline-separator.svg"/>
<div class="spacer-sm"></div>

<table class="dept-listing">
	<tbody>
    {{ content.field_list_item }}
  </tbody>
</table>

<div class="clear"></div>
